.header {
    text-align: center;
    background: -webkit-linear-gradient(rgb(5, 39, 103) 0%, #3a0647 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 5rem;
}

h4, p {
    text-align: center;
}

em, b {
    color: darkblue;
}
