<div class="highlight py-4">
    <div class="data mx-2">
        <h2 class="mt-3">@Item.Name</h2>
        <p class="mt-2">A location in the city, State</p>
    </div>
    <div class="description">
        <ul>
            @foreach (var detail in details)
            {
                <li>@detail</li>
            }
        </ul>
    </div>
</div>

@code {
    private IEnumerable<string> details = Enumerable.Empty<string>();
    [Parameter]
    public Forecast? Item { get; set; }

    protected override void OnParametersSet()
    {
        details = Item.DetailedForecast.Split(". ") ?? details;
        base.OnParametersSet();
    }
}
